body {
	background-color: #2c2c2c;
}

@font-face {
    font-family: 'impact';
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: 'calibri';
    src: url(../fonts/Calibri.ttf);
}

.title {
	color: #ff4200;
	font-family: 'impact';
	font-size: 2em;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.orange-title {
	color: #ff4200;
	font-family: 'impact';
	letter-spacing: 1px;
}

.orange-paragraph {color: #f26522;}
.white-paragraph {color: #fff;}

.upper {text-transform: uppercase;}

.second-row {margin-top: 30px;}

.pdf {
	background: url(../images/pdf-icon.png) no-repeat center center;
	display: inline-block;
	height: 105px;
	text-indent: -999999px;
	width: 108px;
}

.calendar-txt {
	color: #b3b0af;
	font-family: 'impact';
	font-size: 2em;
	letter-spacing: 1px;
}

.nav-header {
	background-color: #2c2c2c;
	border-bottom: 3px solid #da5b1f;
	height: 58px;
	position: relative;
	z-index: 1;
}

.nav-header .logo {
	position: relative;
}

.nav-header .logo img {
	position: absolute;
}

.nav-header .facebook,
.nav-header .twitter,
.nav-header .youtube,
.nav-header .mail {line-height: 58px;}

.nav-header .sm-menu {
	float: right;
	list-style: none;
}

.nav-header .sm-menu li {
	float: left;
	padding-right: 22px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	font-family: 'calibri';
	margin-top: 80px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
	color: #5c5c5c;
}

.navbar-nav>li>a {
	border-right: 1px solid #5c5c5c;
	line-height: 10px;
	padding-top: 0; padding-bottom: 0;
}

.navbar-nav>li:last-child>a {border-right: none;}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #ff4200;
}

.dropdown-menu>li>a {color: #fff;}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	background-color: transparent;
	color: #ff4200;
}

.dropdown-menu {background-color: transparent;}



.slider {
	background-color: #000;
}

.slider .arrow-down {
	background: url(../images/arrow-down.png) no-repeat center center;
	height: 34px;
	margin: 5px auto;
	text-indent: -999999px;
	width: 27px;
}

.glyphicon.right-arrow,
.glyphicon.left-arrow {
	height: 55px;
	width: 55px;
}

.glyphicon.right-arrow {
	background: url(../images/right-arrow.png) no-repeat center center;
}

.glyphicon.left-arrow {
	background: url(../images/left-arrow.png) no-repeat center center;
}

.slider .carousel-control.right,
.slider .carousel-control.left {
	margin-top: -25px;
	top: 50%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {margin: 0 auto;}

.slider .carousel-caption {
	bottom: 24%;
	font-family: 'impact';
	margin: 0 auto;
	text-align: left;
	text-transform: uppercase;
	max-width: 560px;
}
.slider .carousel-caption h3 {margin: 0;}
.slider .carousel-caption .slogan-can-be {font-size: 5em;}

.slider .carousel-caption .slogan-the-best {
	color: #ff4200;
	font-size: 7em;
}

.slider .carousel-caption .slogan-original {font-size: 3em;}

.galery {background-color: #202020;}

.galery .col-md-3 {
	padding: 0;
}

.img-block {
	min-height: 237px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.img-block a {
	color: #fff;
	font-family: 'impact';
	font-size: 1.6em;
	left: 50%;
	letter-spacing: 2px;
	margin-left: -50px;
	margin-top: -10px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
}

.img-block a:hover{text-decoration: none;}

.kartell-gal {background: url(../images/block-img1-bw.jpg) no-repeat center center; background-size: cover;}
.kartell-gal:hover {background: url(../images/block-img1.jpg) no-repeat center center; background-size: cover;}

.productos-gal {background: url(../images/gal-product-bw.jpg) no-repeat center center; background-size: cover;}
.productos-gal:hover {background: url(../images/gal-product.jpg) no-repeat center center; background-size: cover;}

.tours-gal {background: url(../images/gal-tours-bw.jpg) no-repeat center center; background-size: cover;}
.tours-gal:hover {background: url(../images/gal-tours.jpg) no-repeat center center; background-size: cover;}

.training-gal {background: url(../images/gal-training-bw.jpg) no-repeat center center; background-size: cover;}
.training-gal:hover {background: url(../images/gal-training.jpg) no-repeat center center; background-size: cover;}

.eventos-gal {background: url(../images/gal-eventos-bw.jpg) no-repeat center center; background-size: cover;}
.eventos-gal:hover {background: url(../images/gal-eventos.jpg) no-repeat center center; background-size: cover;}

.videos-gal {background: url(../images/gal-videos-bw.jpg) no-repeat center center; background-size: cover;}
.videos-gal:hover {background: url(../images/gal-videos.jpg) no-repeat center center; background-size: cover;}

.supported-gal {background: url(../images/gal-supported-bw.jpg) no-repeat center center; background-size: cover;}
.supported-gal:hover {background: url(../images/gal-supported.jpg) no-repeat center center; background-size: cover;}

.calendar-gal {background: url(../images/gal-calendar-bw.jpg) no-repeat center center; background-size: cover;}
.calendar-gal:hover {background: url(../images/gal-calendar.jpg) no-repeat center center; background-size: cover;}

.belray {
	background: url(../images/spoonsor-sprite.png) no-repeat 0 0;
	display: inline-block;
	height: 49px;
	text-indent: -999999px;
	width: 75px;
}

.belray-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat 0 0;
	display: inline-block;
	height: 94px;
	text-indent: -999999px;
	width: 146px;
}

.battery {
	background: url(../images/spoonsor-sprite.png) no-repeat -82px -2px;
	display: inline-block;
	height: 45px;
	text-indent: -999999px;
	width: 87px;
}

.battery-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -159px -5px;
	display: inline-block;
	height: 85px;
	text-indent: -999999px;
	width: 180px;
}

.dunlop-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -352px 0;
	display: inline-block;
	height: 100px;
	text-indent: -999999px;
	width: 149px;
}

.powerlet {
	background: url(../images/spoonsor-sprite.png) no-repeat -177px -7px;
	display: inline-block;
	height: 34px;
	text-indent: -999999px;
	width: 105px;
}

.giant {
	background: url(../images/spoonsor-sprite.png) no-repeat -290px -3px;
	display: inline-block;
	height: 42px;
	text-indent: -999999px;
	width: 105px;
}

.giantloop-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -560px -118px;
	display: inline-block;
	height: 59px;
	text-indent: -999999px;
	width: 146px;
}

.barkbusters {
	background: url(../images/spoonsor-sprite.png) no-repeat -406px -11px;
	display: inline-block;
	height: 26px;
	text-indent: -999999px;
	width: 134px;
}

.barkbusters-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -243px -129px;
	display: inline-block;
	height: 38px;
	text-indent: -999999px;
	width: 192px;
}

.utopia {
	background: url(../images/spoonsor-sprite.png) no-repeat -547px 0;
	display: inline-block;
	height: 50px;
	text-indent: -999999px;
	width: 60px;
}

.utopia-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -146px -110px;
	display: inline-block;
	height: 76px;
	text-indent: -999999px;
	width: 92px;
}

.kenny {
	background: url(../images/spoonsor-sprite.png) no-repeat 0 -68px;
	display: inline-block;
	height: 14px;
	text-indent: -999999px;
	width: 107px;
}

.kenny-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -3px -117px;
	display: inline-block;
	height: 57px;
	text-indent: -999999px;
	width: 135px;
}

.kriega {
	background: url(../images/spoonsor-sprite.png) no-repeat -116px -65px;
	display: inline-block;
	height: 23px;
	text-indent: -999999px;
	width: 105px;
}

.kriega-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -1px -217px;
	display: inline-block;
	height: 32px;
	text-indent: -999999px;
	width: 139px;
}

.mefo {
	background: url(../images/spoonsor-sprite.png) no-repeat -230px -56px;
	display: inline-block;
	height: 42px;
	text-indent: -999999px;
	width: 86px;
}

.mefo-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -513px -13px;
	display: inline-block;
	height: 69px;
	text-indent: -999999px;
	width: 183px;
}

.rok {
	background: url(../images/spoonsor-sprite.png) no-repeat -333px -56px;
	display: inline-block;
	height: 36px;
	text-indent: -999999px;
	width: 73px;
}

.rok-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -146px -206px;
	display: inline-block;
	height: 55px;
	text-indent: -999999px;
	width: 112px;
}

.novus {
	background: url(../images/spoonsor-sprite.png) no-repeat -421px -65px;
	display: inline-block;
	height: 24px;
	text-indent: -999999px;
	width: 104px;
}

.novus-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -458px -216px;
	display: inline-block;
	height: 39px;
	text-indent: -999999px;
	width: 166px;
}

.scottoller {
	background: url(../images/spoonsor-sprite.png) no-repeat -547px -56px;
	display: inline-block;
	height: 43px;
	text-indent: -999999px;
	width: 77px;
}

.scottoiler-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -441px -115px;
	display: inline-block;
	height: 65px;
	text-indent: -999999px;
	width: 112px;
}

.cruztools {
	background: url(../images/spoonsor-sprite.png) no-repeat -635px -63px;
	display: inline-block;
	height: 22px;
	text-indent: -999999px;
	width: 116px;
}

.cruztools-color {
	background: url(../images/spoonsor-sprite-color.png) no-repeat -270px -216px;
	display: inline-block;
	height: 38px;
	text-indent: -999999px;
	width: 179px;
}

.novobrands {
	background: url(../images/spoonsor-sprite.png) no-repeat -624px -7px;
	display: inline-block;
	height: 43px;
	text-indent: -999999px;
	width: 127px;
}

.empresa,
.producto {
	background: url(../images/inner-bg.png) no-repeat center center;
	background-size: cover;
}

.tours {
	background: #2c2c2c url(../images/tours-bg.png) no-repeat center 0;
	background-size: cover;
}

#about,
.products,
.training-content,
.event-content,
.info-tecnica-content,
.contacto-content {
	color: #b9b8b8;
	font-family: 'calibri';
	font-size: 1.1em;
	padding-top: 100px;
}

#about h2,
#mision h2,
.products h2,
.training-content h2,
.eventos-content h2,
.info-tecnica-content h2 {
	font-size: 3.5em;
	text-transform: uppercase;
}


#mision .empresa-slogan p {
	color: #fff;
	font-family: 'impact';
	font-size: 3em;
	margin-left: 16%;
}

#mision .empresa-slogan p:last-child {margin-left: 10%;}

#mision .empresa-slogan h3 {font-size: 7em;}

#carousel-bottom .training-img1,
#carousel-bottom .training-img2,
#carousel-bottom .training-img3,
#carousel-bottom .training-img4,
#carousel-bottom .eventos-img1,
#carousel-bottom .eventos-img2,
#carousel-bottom .eventos-img3,
#carousel-bottom .eventos-img4,
#carousel-bottom .info-tecnica-img1,
#carousel-bottom .info-tecnica-img2,
#carousel-bottom .info-tecnica-img3,
#carousel-bottom .info-tecnica-img4 {
	height: 191px;
	text-indent: -999999px;
	min-width: 243px;
}

#carousel-bottom-suported .suported-img1,
#carousel-bottom-suported .suported-img2,
#carousel-bottom-suported .suported-img3,
#carousel-bottom-suported .suported-img4 {
	height: 191px;
	min-width: 243px;
}

#carousel-bottom .col-md-3 {padding-left: 0; padding-right: 0}

#carousel-bottom .training-img1 {background: url(../images/training-img1-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .training-img1:hover {background: url(../images/training-img1.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .training-img2 {background: url(../images/training-img2-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .training-img2:hover {background: url(../images/training-img2.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .training-img3 {background: url(../images/training-img3-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .training-img3:hover {background: url(../images/training-img3.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .training-img4 {background: url(../images/training-img4-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .training-img4:hover {background: url(../images/training-img4.jpg) no-repeat center center; background-size: cover;}

#carousel-bottom .eventos-img1 {background: url(../images/eventos-img1.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .eventos-img2 {background: url(../images/eventos-img2-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .eventos-img2:hover {background: url(../images/eventos-img2.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .eventos-img3 {background: url(../images/eventos-img3-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .eventos-img3:hover {background: url(../images/eventos-img3.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .eventos-img4 {background: url(../images/eventos-img4-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .eventos-img4:hover {background: url(../images/eventos-img4.jpg) no-repeat center center; background-size: cover;}

#carousel-bottom .info-tecnica-img1 {background: url(../images/info-tecnica-img1.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .info-tecnica-img2 {background: url(../images/info-tecnica-img2.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .info-tecnica-img3 {background: url(../images/info-tecnica-img3.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom .info-tecnica-img4 {background: url(../images/info-tecnica-img4.jpg) no-repeat center center; background-size: cover;}

#carousel-bottom-suported .suported-img1 {background: url(../images/suported-img1-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom-suported .suported-img1:hover {background: url(../images/suported-img1.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom-suported .suported-img2 {background: url(../images/suported-img2-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom-suported .suported-img2:hover {background: url(../images/suported-img2.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom-suported .suported-img3 {background: url(../images/suported-img3-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom-suported .suported-img3:hover {background: url(../images/suported-img3.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom-suported .suported-img4 {background: url(../images/suported-img4-bw.jpg) no-repeat center center; background-size: cover;}
#carousel-bottom-suported .suported-img4:hover {background: url(../images/suported-img4.jpg) no-repeat center center; background-size: cover;}

#carousel-bottom .carousel-control.right,
#carousel-bottom .carousel-control.left,
#carousel-bottom-suported .carousel-control.right, 
#carousel-bottom-suported .carousel-control.left {
	background-image: none;
	height: 46px;
	margin-top: -25px;
	top: 50%;
	width: 46px;
}

#carousel-bottom .carousel-control.right,
#carousel-bottom-suported .carousel-control.right {right: -20px;}
#carousel-bottom .carousel-control.left,
#carousel-bottom-suported .carousel-control.left {left: -20px;}

#carousel-bottom-suported h2 {
	color: #ff4200;
	font-family: 'impact';
	padding-top: 60px;
	text-align: center;
	text-transform: uppercase;
}

.info-tecnica-wrapper {
	height: 191px;
	min-width: 243px;
	position: relative;
	text-indent: -999999px;
}

.black-bg {
	background-color: #000;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}

.info-tecnica-wrapper:hover .black-bg{top: 100%;}

.contacto-content form {
	margin: 0 auto;
	max-width: 485px;
}

.contacto-content form label {
	font-family: 'impact';
}

.contacto-content form input[type="text"],
.contacto-content form input[type="email"] {
	max-width: 90%;
	width: 100%;
}

footer {
	background-color: #202020;
	color: #898989;
	font-family: 'calibri';
	padding-top: 30px;
}

footer .powered {
	border-right: 1px solid #f26522;
	height: 15px;
	line-height: 16px;
}

footer .powered a {color: #898989;}

footer .trademark {
	font-size: smaller;
	text-align: right;
}

footer.inner-content {background-color: transparent;}

footer.inner-content .novobrands {
	float: right;
}

/* ---------------------------------------------- MEDIA QUERIES -------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 767px) and (max-width: 979px) {
	.navbar-default {margin-top: 125px;}
	.nav>li>a {padding: 0 10px}
	.slider .carousel-caption .slogan-original {font-size: 1.5em;}
	.slider .carousel-caption .slogan-can-be {font-size: 2.5em;}
	.slider .carousel-caption .slogan-the-best {font-size: 3.5em;}
	#mision .empresa-slogan p {margin-left: 40%;}
	#mision .empresa-slogan h3 {margin-left: 23%;}
	#mision .empresa-slogan p:last-child {margin-left: 31%;}
	.info-tecnica-content h2 {font-size: 2em;}

	.info-tecnica-wrapper,
	#carousel-bottom .info-tecnica-img1,
	#carousel-bottom .info-tecnica-img2,
	#carousel-bottom .info-tecnica-img3,
	#carousel-bottom .info-tecnica-img4 {height: 350px;}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  
}